/* .work-inner img {
    min-width: 900px;
    min-height: 600px;
} */

.bg-feature p {
    color: #000;
}
img.logo {
    width: 7%;
    /* padding-top: 5px; */
    display: inline;
}

/* @media screen and (max-width:426px) {
    img.logo {
        width: 15%;
    }
    
}

@media screen and (min-width:1024px) {
    img.logo {
        padding-top: 0;
    }
    
} */

#services {
    color: #fff;
}

.bg-6 {
    background-image: url(../img/backgrounds/bg-6.jpg) !important;
}

@media screen and (max-width: 768px) {
    .parallaxe {
        background-attachment: unset;
    }
}