<footer id="footer" class="bg-dark">
  <div class="container pt100 pb80">
    <div class="col-sm-8 text-center m-auto pt40 border-top">
      <div class="white text-center">
        <h4 class="mb10 lspacing">Give Us A Call</h4>
        <h2>{{ company_phone }}</h2>

        <p>If you have a question or would like to work together, please fill out our contact form. Please allow a period up to 24 hours for a response. For all other urgent matters, feel free to call. We look forward to hearing from you!</p>

        <!-- <ul class="social-icons fadeIn">
          <li><a href="#"><i class="fa fa-facebook white"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter white"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram white"></i></a></li>
        </ul> -->
        <h6>© <span id="copyright-year"></span> <span class="highlight">{{ company_name_short }}</span></h6>
      </div>
    </div>
  </div>
</footer>