<footer id="footer" class="bg-dark">
  <div class="container pt100 pb80">
    <div class="col-sm-8 text-center m-auto pt40 border-top">
      <div class="white text-center">
        <h4 class="mb10 lspacing">Give Us A Call</h4>
        <h2>+1 92-126-386</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eum dolor, vel blanditiis obcaecati inventore
          eos, distinctio molestiae ad veritatis dicta, sed corporis doloremque animi necessitatibus! Ratione totam nemo
          ea.</p>

        <ul class="social-icons fadeIn">
          <li><a href="#"><i class="fa fa-facebook white"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter white"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram white"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus white"></i></a></li>
          <li><a href="#"><i class="fa fa-behance white"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble white"></i></a></li>
        </ul>
        <h6>© 2017 <span class="highlight">Former</span> All Rights Reserved.</h6>
      </div>
    </div>
  </div>
</footer>