<section id="clients" class="bg-gray">
  <div class="container pt60 p60">
    <div class="row">
      <div class="owl-clients">
        <div><img src="{{ url_for('static', filename='img/clients/1.png') }}" class="img-responsive" alt="#"></div>
        <div><img src="{{ url_for('static', filename='img/clients/2.png') }}" class="img-responsive" alt="#"></div>
        <div><img src="{{ url_for('static', filename='img/clients/3.png') }}" class="img-responsive" alt="#"></div>
        <div><img src="{{ url_for('static', filename='img/clients/4.png') }}" class="img-responsive" alt="#"></div>
        <div><img src="{{ url_for('static', filename='img/clients/5.png') }}" class="img-responsive" alt="#"></div>
        <div><img src="{{ url_for('static', filename='img/clients/6.png') }}" class="img-responsive" alt="#"></div>
      </div>
    </div>
  </div>
</section>