<section id="gallery" class="work">
  <div class="container bg-gray">
    <div class="heading  m-auto text-center pt140">
      <h2><span class="f-xbold">Our Gallery</span></h2>
      <hr class="seperator">
      <h4 class="subheading">Excellent Works</h4>
      <p>With a belief that culture drives commerce, we leverage shared values and ideals to inform strategy and design,
        creating experiences that inspire life and inspire action. Our specialty of connecting brand, culture, and
        commerce has earned us a big reputation.</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <ul class="work">
        <li class="filter active" data-filter="all">all</li>
        <!-- <li class="filter" data-filter=".webdesign">design</li> -->
        <li class="filter" data-filter=".development">development</li>
        <!-- <li class="filter" data-filter=".photography">branding</li> -->
      </ul>
    </div>
    <div class="work-inner" id="MixItUp52BB49">
      <div class="row work-posts grid">
        <!-- START SINGLE WORK DESIGN AREA -->
        <div class="col-md-4 col-sm-6 mix webdesign" style="display: inline-block;" data-bound="">
          <div class="item">
            <a href="https://res.cloudinary.com/zaraconsulting/image/upload/c_fill,h_600,w_900/v1602203283/11577179-1433874283083_q5ldpb.png" class="work-popup">
              <figure class="effect-ruby">
                <img src="https://res.cloudinary.com/zaraconsulting/image/upload/c_fill,h_600,w_900/v1602203283/11577179-1433874283083_q5ldpb.png" alt="image">
                <figcaption>
                  <h2>SPNA</h2>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
        <!-- END SINGLE WORK DESIGN AREA -->
        <!-- START SINGLE WORK DESIGN AREA -->
        <div class="col-md-4 col-sm-6 mix development" style="display: inline-block;" data-bound="">
          <div class="item">
            <a href="https://res.cloudinary.com/zaraconsulting/image/upload/v1602205182/FireShot_Capture_011_-_Home_-_ComeCeCeMe_-_www.comececeme.com_epgu6h.png" class="work-popup">
              <figure class="effect-ruby">
                <img src="https://res.cloudinary.com/zaraconsulting/image/upload/c_fill,g_north,h_600,w_900/v1602205182/FireShot_Capture_011_-_Home_-_ComeCeCeMe_-_www.comececeme.com_epgu6h.png" alt="image">
                <figcaption>
                  <h2>ComeCeCeMe</h2>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
        <!-- END SINGLE WORK DESIGN AREA -->
        <!-- START SINGLE WORK DESIGN AREA -->
        <div class="col-md-4 col-sm-6 mix photography webdesign" style="display: inline-block;" data-bound="">
          <div class="item">
            <a href="https://res.cloudinary.com/zaraconsulting/image/upload/c_mfit,h_600,w_900/v1602205692/FireShot_Capture_017_-_Home_-_Prudence_Investment_Group_-_prudenceinvestmentgroup.herokuapp.com_tqfvsy.png" class="work-popup">
              <figure class="effect-ruby">
                <img style="height: 253.33px;" src="https://res.cloudinary.com/zaraconsulting/image/upload/c_mfit,h_600,w_900/v1602205692/FireShot_Capture_017_-_Home_-_Prudence_Investment_Group_-_prudenceinvestmentgroup.herokuapp.com_tqfvsy.png" alt="image">
                <figcaption>
                  <h2>Prudence Investment Group</h2>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
        <!-- END SINGLE WORK DESIGN AREA -->
        <!-- START SINGLE WORK DESIGN AREA -->
        <div class="col-md-4 col-sm-6 mix development" style="display: inline-block;" data-bound="">
          <div class="item">
            <a href="https://res.cloudinary.com/zaraconsulting/image/upload/v1602259222/e504df_tx397y.jpg" class="work-popup">
              <figure class="effect-ruby">
                <img src="https://res.cloudinary.com/zaraconsulting/image/upload/c_fill,g_north,h_600,q_auto:best,w_900/v1602259360/45dbe5_w5pflj.jpg" alt="image">
                <figcaption>
                  <h2>Train by Fire</h2>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
        <!-- END SINGLE WORK DESIGN AREA -->
        <!-- START SINGLE WORK DESIGN AREA -->
        <div class="col-md-4 col-sm-6 mix development webdesign" style="display: inline-block;" data-bound="">
          <div class="item">
            <a href="https://res.cloudinary.com/zaraconsulting/image/upload/v1602261886/FireShot_Capture_022_-_Evaxo_-_Responsive_Multipurpose_Blog_Page_Template_-_zoyothemes.com_eetumx.png" class="work-popup">
              <figure class="effect-ruby">
                <img src="https://res.cloudinary.com/zaraconsulting/image/upload/c_fill,g_north,h_600,w_900/v1602261886/FireShot_Capture_022_-_Evaxo_-_Responsive_Multipurpose_Blog_Page_Template_-_zoyothemes.com_eetumx.png" alt="image">
                <figcaption>
                  <h2>Brnd</h2>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
        <!-- END SINGLE WORK DESIGN AREA -->
        <!-- START SINGLE WORK DESIGN AREA -->
        <!-- <div class="col-md-4 col-sm-6 mix photography" style="display: inline-block;" data-bound="">
          <div class="item">
            <a href="{{ url_for('static', filename='img/portfolio/4.jpg') }}" class="work-popup">
              <figure class="effect-ruby">
                <img src="{{ url_for('static', filename='img/portfolio/4.jpg') }}" alt="image">
                <figcaption>
                  <h2>Logo design</h2>
                  <p>project six</p>
                </figcaption>
              </figure>
            </a>
          </div>
        </div> -->
        <!-- END SINGLE WORK DESIGN AREA -->
      </div>
      <div style="margin: 25px 0;" class="text-center"><h2>More coming soon!</h2></div>
    </div>
  </div>
</section>