<section id="gallery" class="work">
  <div class="container bg-gray">
    <div class="heading  m-auto text-center pt140">
      <h2><span class="f-xbold">Our Gallery</span></h2>
      <hr class="seperator">
      <h4 class="subheading">Excellent Works</h4>
      <p>With a belief that culture drives commerce, we leverage shared values and ideals to inform strategy and design,
        creating experiences that inspire life and inspire action. Our specialty of connecting brand, culture, and
        commerce has earned us a big reputation.</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <ul class="work">
        <li class="filter active" data-filter="all">all</li>
        <li class="filter" data-filter=".webdesign">webdesign</li>
        <li class="filter" data-filter=".development">development</li>
        <li class="filter" data-filter=".photography">photography</li>
      </ul>
    </div>
    <div class="work-inner" id="MixItUp52BB49">
      <div class="row work-posts grid">
        <!-- START SINGLE WORK DESIGN AREA -->
        <div class="col-md-4 col-sm-6 mix webdesign" style="display: inline-block;" data-bound="">
          <div class="item">
            <a href="{{ url_for('static', filename='img/portfolio/1.jpg') }}" class="work-popup">
              <figure class="effect-ruby">
                <img src="{{ url_for('static', filename='img/portfolio/1.jpg') }}" alt="image">
                <figcaption>
                  <h2>development</h2>
                  <p>project one</p>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
        <!-- END SINGLE WORK DESIGN AREA -->
        <!-- START SINGLE WORK DESIGN AREA -->
        <div class="col-md-4 col-sm-6 mix development" style="display: inline-block;" data-bound="">
          <div class="item">
            <a href="{{ url_for('static', filename='img/portfolio/2.jpg') }}" class="work-popup">
              <figure class="effect-ruby">
                <img src="{{ url_for('static', filename='img/portfolio/2.jpg') }}" alt="image">
                <figcaption>
                  <h2>Design</h2>
                  <p>project two</p>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
        <!-- END SINGLE WORK DESIGN AREA -->
        <!-- START SINGLE WORK DESIGN AREA -->
        <div class="col-md-4 col-sm-6 mix photography webdesign" style="display: inline-block;" data-bound="">
          <div class="item">
            <a href="{{ url_for('static', filename='img/portfolio/3.jpg') }}" class="work-popup">
              <figure class="effect-ruby">
                <img src="{{ url_for('static', filename='img/portfolio/3.jpg') }}" alt="image">
                <figcaption>
                  <h2>Branding</h2>
                  <p>project three</p>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
        <!-- END SINGLE WORK DESIGN AREA -->
        <!-- START SINGLE WORK DESIGN AREA -->
        <div class="col-md-4 col-sm-6 mix development" style="display: inline-block;" data-bound="">
          <div class="item">
            <a href="{{ url_for('static', filename='img/portfolio/4.jpg') }}" class="work-popup">
              <figure class="effect-ruby">
                <img src="{{ url_for('static', filename='img/portfolio/4.jpg') }}" alt="image">
                <figcaption>
                  <h2>porttrait</h2>
                  <p>project four</p>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
        <!-- END SINGLE WORK DESIGN AREA -->
        <!-- START SINGLE WORK DESIGN AREA -->
        <div class="col-md-4 col-sm-6 mix development webdesign" style="display: inline-block;" data-bound="">
          <div class="item">
            <a href="{{ url_for('static', filename='img/portfolio/5.jpg') }}" class="work-popup">
              <figure class="effect-ruby">
                <img src="{{ url_for('static', filename='img/portfolio/5.jpg') }}" alt="image">
                <figcaption>
                  <h2>photography</h2>
                  <p>project five</p>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
        <!-- END SINGLE WORK DESIGN AREA -->
        <!-- START SINGLE WORK DESIGN AREA -->
        <div class="col-md-4 col-sm-6 mix photography" style="display: inline-block;" data-bound="">
          <div class="item">
            <a href="{{ url_for('static', filename='img/portfolio/6.jpg') }}" class="work-popup">
              <figure class="effect-ruby">
                <img src="{{ url_for('static', filename='img/portfolio/6.jpg') }}" alt="image">
                <figcaption>
                  <h2>Logo design</h2>
                  <p>project six</p>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
        <!-- END SINGLE WORK DESIGN AREA -->
      </div>
    </div>
  </div>
</section>