<section id="contact-form" class="bg-gray">
  <div class="container pt100 pb100">
    <div class="heading m-auto text-center mb30">
      <h2 class="f-xbold" id="contact-us">Contact Us</h2>
      <hr class="seperator">
      <h4 class="subheading">Lets collaborate</h4>
      <p>With a belief that culture drives commerce, we leverage shared values and ideals to inform strategy and design,
        creating experiences that inspire life and inspire action. Our specialty of connecting brand, culture, and
        commerce has earned us a big reputation.</p>
    </div>


    <div class="col-md-8 col-sm-8 m-auto">
      <!-- Start Contact Section -->
      {% include 'partials/form-contact.html' %}
      <!-- End Contact Section -->
    </div>
  </div>
</section>