<section id="testimonials" class="parallax mt15">
  <div class="overlay dark"></div>
  <div class="container pt100 pb100">
    <div class="heading m-auto white text-center mb30">
      <h2 class="f-xbold">Testimonials</h2>
      <hr class="seperator">
      <h4 class="subheading">Clients Reviews</h4>
    </div>

    <div class="row">
      <div class="col-md-8 m-auto text-center">
        <div class="owl-testimonials">

          <div class="owl-item white">
            <div class="testimonial-quote pb10">
              <h5>I had a very pleasant experience working with Zara Consulting. Always informative, always transparent with a solid team to boot.</h5>
            </div>
            <div class="testimonial-body">
              <h4 class="f-xbold">Amanda Tracy</h4>
              <h6 class="mt-5">Ceo, Owner</h6>
            </div>
          </div>


          <div class="owl-item white">
            <div class="testimonial-quote pb10">
              <h5>Always love collaborating together. They've connected me with multiple clients looking for logos.<h5>
            </div>
            <div class="testimonial-body">
              <h4 class="f-xbold">Wilma A.</h4>
              <h6 class="mt-5">Graphic Designer</h6>
            </div>
          </div>


          <div class="owl-item white">
            <div class="testimonial-quote pb10">
              <h5>Needed a website built for my production company and they delivered! The admin panel helps me put my entire application on autopliot.</h5>
            </div>
            <div class="testimonial-body">
              <h4 class="f-xbold">Cedrec Jay</h4>
              <h6 class="mt-5">Media Production Specialist</h6>
            </div>
          </div>


          <div class="owl-item white">
            <div class="testimonial-quote pb10">
              <h5>Needed a Landing Page with MailChimp integration to eventually launch my mobile app. Couldn't have done it without them!</h5>
            </div>
            <div class="testimonial-body">
              <h4 class="f-xbold mt10">Paul Nesson</h4>
              <h6 class="mt-5">Investor</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>