<section id="features" class="">
  <div class="container section-padding">

    <div class="heading  m-auto text-center ">
      <h2><span class="f-xbold">Industries</span></h2>
      <hr class="seperator">
      <h4 class="subheading">Who we work with</h4>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="feature-box fadeLeft">
          <i class="ion-speakerphone"></i>
          <h4>Marketing</h4>
          <p>Collect and visualize data to make informed decisions</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-box fadeLeft">
          <i class="ion-cash"></i>
          <h4>Finance</h4>
          <p>Manage your investments and finances with wealth custom wmanagement tools</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-box fadeLeft">
          <i class="ion-briefcase"></i>
          <h4>Real Estate</h4>
          <p>Bridge the gap between broker, agent and seller by streamlining your workflow</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-box fadeLeft">
          <i class="ion-university"></i>
          <h4>Education</h4>
          <p>Dedicated to promoting career development with industry-guided edutech</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-box fadeLeft">
          <i class="ion-heart"></i>
          <h4>Non-Profit</h4>
          <p>Boost fundraising, engage donors and cultivate a frendlier community</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-box fadeLeft">
          <i class="ion-pricetag"></i>
          <h4>Retail/E-Commerce</h4>
          <p>Improves your path-to-purchase with data-driven, market tested solutions</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="text-center m-auto feature-info">
          <p class="lead">Reach out to us today to get started on building the vehicle for your business.</p>
          <a href="{{ url_for('index') }}#contact-us" class="btn btn-hero">Let's work together <i
              class="fa fa-angle-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>