<section id="team" class="bg-feature">
  <div class="container-fluid">
    <div class="heading  m-auto text-center pt140">
      <h2><span class="f-xbold">Our Mission</span></h2>
      <hr class="seperator">
      <h4 class="subheading">Awesome team</h4>
      <p>Our main goal is to help people build their own future by leveraging shared values, ideals and data to
        inform, strategize and design unique experiences that inspire life and inspire action.</p>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-4 no-padding">
        <div class="team-box">
          <img src="{{ url_for('static', filename='img/team/ananya.jpg') }}" alt="" class="img-responsive">
          <div class="team-inner">
            <h3 class="f-bold">Ananya Koduri</h3>
            <h5>Software Engineer</h5>
            <p>Nostrum dolorem harum, asperiores dicta dolor impedit alias animi atque quidem maiores rerum, quisquam
              vel! delectus quaerat.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 no-padding">
        <div class="team-box">
          <img src="{{ url_for('static', filename='img/team/2.jpg') }}" alt="" class="img-responsive">
          <div class="team-inner">
            <h3 class="f-bold">Derek Hawkins</h3>
            <h5>CEO/Software Engineer</h5>
            <p>Nostrum dolorem harum, asperiores dicta dolor impedit alias animi atque quidem maiores rerum, quisquam
              vel! delectus quaerat.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 no-padding">
        <div class="team-container">
          <div class="team-box">
            <img src="{{ url_for('static', filename='img/team/joel.jpg') }}" alt="" class="img-responsive">
            <div class="team-inner">
              <h3 class="f-bold">Joel Carter</h3>
              <h5>Software Engineer</h5>
              <p>Nostrum dolorem harum, asperiores dicta dolor impedit alias animi atque quidem maiores rerum, quisquam
                vel! delectus quaerat.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>