<section id="features" class="">
  <div class="container section-padding">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="feature-box fadeLeft">
          <i class="ion-heart"></i>
          <h4>Creative Elements</h4>
          <p>Let the design of your application be consistent with your strategy</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-box fadeLeft">
          <i class="ion-grid"></i>
          <h4>Lots of features</h4>
          <p>All websites must do something. What they do is dependent on its features</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-box fadeLeft">
          <i class="ion-android-laptop"></i>
          <h4>Fully Responsive</h4>
          <p>Stay current with responsive layouts that are optimized for mobile screens</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-box fadeLeft">
          <i class="ion-android-microphone"></i>
          <h4>Premium Support</h4>
          <p>Any application we create will continue to work even after completion</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-box fadeLeft">
          <i class="ion-ios-browsers"></i>
          <h4>Browser Comptaible</h4>
          <p>Your application will be compatible across all major web browsers</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-box fadeLeft">
          <i class="ion-android-bulb"></i>
          <h4>Unique Design</h4>
          <p>Choose a custom design that conveys the message of your product</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="text-center m-auto feature-info">
          <p class="lead">Reach out to us today to get started on building the vehicle for your business.</p>
          <a href="{{ url_for('index') }}#contact-us" class="btn btn-hero">Let's work together <i
              class="fa fa-angle-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>