<section id="services" class="bg-feature">
<!-- <section id="services" class="bg-grey"> -->
  <div class="container section-padding">
    <div class="heading  m-auto text-center ">
      <h2><span class="f-xbold">Services</span></h2>
      <hr class="seperator">
      <h4 class="subheading">What we do</h4>
      <p>Connecting multiple people to similar ideals has earned us a huge reputation. While it's not the easiest thing
        to cater every need to everyone, we agree that uniting people through the most important concepts has helped
        improve our success rates with our clients.</p>
    </div>

    <div class="row ">
      <div class="col-md-3 col-xs-12 col-sm-6 mt30 mb30 text-center">
        <div class="service-container fadeLeft">
          <div class="icon-container parallaxe bg-6">
            <i class="icon-tools text-center"></i>
          </div>
          <div class="service-body">
            <div class="service-title">
              <h2>Web Development</h2>
            </div>
            <p>Creating a web presence is an important part of marketing that bridges the gap between you and your customers</p>
          </div>
        </div>
      </div>


      <div class="col-md-3 col-xs-12 col-sm-6 mt30 mb30 text-center">
        <div class="service-container fadeLeft">
          <div class="icon-container parallaxe bg-6">
            <i class="icon-strategy text-center"></i>
          </div>
          <div class="service-body">
            <div class="service-title">
              <h2>Training</h2>
            </div>
            <p>Excellent corporate and professional development training to help cultivate skills and knowledge</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-xs-12 col-sm-6 mt30 mb30 text-center">
        <div class="service-container fadeLeft">
          <div class="icon-container parallaxe bg-6">
            <i class="icon-flag text-center"></i>
          </div>
          <div class="service-body">
            <div class="service-title">
              <h2>Branding</h2>
            </div>
            <p>Transforming your idea from a simple thought into a marketable and competitive product</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-xs-12 col-sm-6 mt30 text-center">
        <div class="service-container fadeLeft">
          <div class="icon-container parallaxe bg-6">
            <i class="icon-layers text-center"></i>
          </div>
          <div class="service-body">
            <div class="service-title">
              <h2>Data Analysis</h2>
            </div>
            <p>Use modern, data-driven solutions to give your business the boost and insight it needs to succeed</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>