<section id="testimonials" class="parallax mt15">
  <div class="overlay dark"></div>
  <div class="container pt100 pb100">
    <div class="heading m-auto white text-center mb30">
      <h2 class="f-xbold">Testimonials</h2>
      <hr class="seperator">
      <h4 class="subheading">Clients Reviews</h4>
    </div>

    <div class="row">
      <div class="col-md-8 m-auto text-center">
        <div class="owl-testimonials">

          <div class="owl-item white">
            <div class="testimonial-quote pb10">
              <h5>Fast and versatile, Former team executed each service that we requested rapidly. Very kind and
                pleasant collective, looking forward to collaborate with them.</h5>
            </div>
            <div class="testimonial-body">
              <h4 class="f-xbold">Lenny Potter</h4>
              <h6 class="mt-5">Manager, Studio Former</h6>
            </div>
          </div>


          <div class="owl-item white">
            <div class="testimonial-quote pb10">
              <h5>Fast and versatile, Former team executed each service that we requested rapidly. Very kind and
                pleasant collective, looking forward to collaborate with them.</h5>
            </div>
            <div class="testimonial-body">
              <h4 class="f-xbold">Terry Thompson</h4>
              <h6 class="mt-5">Art Director</h6>
            </div>
          </div>


          <div class="owl-item white">
            <div class="testimonial-quote pb10">
              <h5>Fast and versatile, Former team executed each service that we requested rapidly. Very kind and
                pleasant collective, looking forward to collaborate with them</h5>
            </div>
            <div class="testimonial-body">
              <h4 class="f-xbold mt10">Sophie Robben</h4>
              <h6 class="mt-5">Designer, Power Ark</h6>
            </div>
          </div>


          <div class="owl-item white">
            <div class="testimonial-quote pb10">
              <h5>Fast and versatile, Former team executed each service that we requested rapidly. Very kind and
                pleasant collective, looking forward to collaborate with them.</h5>
            </div>
            <div class="testimonial-body">
              <h4 class="f-xbold mt10">Lloyde West</h4>
              <h6 class="mt-5">Customer</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>