<section id="hero" class="hero-main parallax ">
  <div class="background-image">
    <img src="{{ url_for('static', filename='img/backgrounds/slide-2.jpg') }}" alt="#">
  </div>
  <div class="hero-container container">
    <div class="hero-content">
      <div class="col-sm-12 m-auto text-center white fadeHero">
        <!-- <ul class="list-inline hero-social">
          <li><a href=""><i class="fa fa-google-plus"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
          <li><a href=""><i class="fa fa-pinterest"></i></a></li>
          <li><a href=""><i class="fa fa-linkedin"></i></a></li>
          <li><a href=""><i class="fa fa-dribbble"></i></a></li>
        </ul> -->
        <h1 class="h1-lg mb10">Imagine<br> your world and build it</h1>
        <h5 class="lead h5-md mb20">Results-driven agency with a focus on finding reliable solutions for today's
          problems</h5>
        <a href="#services" class="angle-more"><i class="i fa fa-angle-down"></i></a>
      </div>
    </div>
  </div>
</section>