{% extends 'layout.html' %}

{% block content %}
<!-- Start Hero Section -->
<section id="hero" class="hero-main parallax ">
  <div class="background-image">
    <img src="{{ url_for('static', filename='img/backgrounds/slide-2.jpg') }}" alt="#">
  </div>
  <div class="hero-container container">
    <div class="hero-content">
      <div class="col-sm-12 m-auto text-center white fadeHero">
        <!-- <ul class="list-inline hero-social">
          <li><a href=""><i class="fa fa-google-plus"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
          <li><a href=""><i class="fa fa-pinterest"></i></a></li>
          <li><a href=""><i class="fa fa-linkedin"></i></a></li>
          <li><a href=""><i class="fa fa-dribbble"></i></a></li>
        </ul> -->
        <h1 class="h1-lg mb10">Imagine<br> your world and build it</h1>
        <h5 class="lead h5-md mb20">Results-driven agency with a focus on finding reliable solutions for today's problems</h5>
        <a href="#services" class="angle-more"><i class="i fa fa-angle-down"></i></a>
      </div>
    </div>
  </div>
</section>
<!-- End Hero Section -->


<!-- Start Clients -->
<section id="clients" class="bg-gray">
  <div class="container pt60 p60">
    <div class="row">
      <div class="owl-clients">
        <div><img src="{{ url_for('static', filename='img/clients/1.png') }}" class="img-responsive" alt="#"></div>
        <div><img src="{{ url_for('static', filename='img/clients/2.png') }}" class="img-responsive" alt="#"></div>
        <div><img src="{{ url_for('static', filename='img/clients/3.png') }}" class="img-responsive" alt="#"></div>
        <div><img src="{{ url_for('static', filename='img/clients/4.png') }}" class="img-responsive" alt="#"></div>
        <div><img src="{{ url_for('static', filename='img/clients/5.png') }}" class="img-responsive" alt="#"></div>
        <div><img src="{{ url_for('static', filename='img/clients/6.png') }}" class="img-responsive" alt="#"></div>
      </div>
    </div>
  </div>
</section>
<!-- End Clients Section -->


<!-- Start Services Section -->
<section id="services" class="bg-grey">
  <div class="container section-padding">
    <div class="heading  m-auto text-center ">
      <h2><span class="f-xbold">Services</span></h2>
      <hr class="seperator">
      <h4 class="subheading">What we do</h4>
      <p>With a belief that culture drives commerce, we leverage shared values and ideals to inform strategy and design,
        creating experiences that inspire life and inspire action. Our specialty of connecting brand, culture, and
        commerce has earned us a big reputation.</p>
    </div>

    <div class="row ">
      <div class="col-md-3 col-xs-12 col-sm-6 mt30 mb30 text-center">
        <div class="service-container fadeLeft">
          <div class="icon-container parallaxe bg-1">
            <i class="icon-tools text-center"></i>
          </div>
          <div class="service-body">
            <div class="service-title">
              <h2>Web Design</h2>
            </div>
            <p>Crafting visually stunning designs that will leave you speechless</p>
            <a href="#" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      </div>


      <div class="col-md-3 col-xs-12 col-sm-6 mt30 mb30 text-center">
        <div class="service-container fadeLeft">
          <div class="icon-container parallaxe bg-1">
            <i class="icon-strategy text-center"></i>
          </div>
          <div class="service-body">
            <div class="service-title">
              <h2>Marketing</h2>
            </div>
            <p>We'll advertise your product using latest and unique marketing methods</p>
            <a href="#" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-xs-12 col-sm-6 mt30 mb30 text-center">
        <div class="service-container fadeLeft">
          <div class="icon-container parallaxe bg-1">
            <i class="icon-flag text-center"></i>
          </div>
          <div class="service-body">
            <div class="service-title">
              <h2>Branding</h2>
            </div>
            <p>Transforming your idea into the competition free, impeccable product</p>
            <a href="#" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-xs-12 col-sm-6 mt30 text-center">
        <div class="service-container fadeLeft">
          <div class="icon-container parallaxe bg-1">
            <i class="icon-layers text-center"></i>
          </div>
          <div class="service-body">
            <div class="service-title">
              <h2>Hosting</h2>
            </div>
            <p>Wide variety of hosting plans, choose the one that suits you the best</p>
            <a href="#" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->

<!-- START TEAM Section -->
<section id="team" class="bg-feature">
  <div class="container-fluid">
    <div class="heading  m-auto text-center pt140">
      <h2><span class="f-xbold">Our Mission</span></h2>
      <hr class="seperator">
      <h4 class="subheading">Awesome team</h4>
      <p>With a belief that culture drives commerce, we leverage shared values and ideals to inform strategy and design,
        creating experiences that inspire life and inspire action. Our specialty of connecting brand, culture, and
        commerce has earned us a big reputation.</p>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-4 no-padding">
        <div class="team-box">
          <img src="{{ url_for('static', filename='img/team/ananya.jpg') }}" alt="" class="img-responsive">
          <div class="team-inner">
            <h3 class="f-bold">Ananya Koduri</h3>
            <h5>Software Engineer</h5>
            <p>Nostrum dolorem harum, asperiores dicta dolor impedit alias animi atque quidem maiores rerum, quisquam
              vel! delectus quaerat.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 no-padding">
        <div class="team-box">
          <img src="{{ url_for('static', filename='img/team/1.jpg') }}" alt="" class="img-responsive">
          <div class="team-inner">
            <h3 class="f-bold">Derek Hawkins</h3>
            <h5>Software Engineer</h5>
            <p>Nostrum dolorem harum, asperiores dicta dolor impedit alias animi atque quidem maiores rerum, quisquam
              vel! delectus quaerat.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 no-padding">
        <div class="team-box">
          <img src="{{ url_for('static', filename='img/team/joel.jpg') }}" alt="" class="img-responsive">
          <div class="team-inner">
            <h3 class="f-bold">Joel Carter</h3>
            <h5>Software Engineer</h5>
            <p>Nostrum dolorem harum, asperiores dicta dolor impedit alias animi atque quidem maiores rerum, quisquam
              vel! delectus quaerat.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  END TEAM Section  -->

<!--  Start Feature Section  -->
<section id="features" class="">
  <div class="container section-padding">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="feature-box fadeLeft">
          <i class="ion-android-settings"></i>
          <h4>highly customization</h4>
          <p>Wide variety of hosting plans, choose the one that suits you the best</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-box fadeLeft">
          <i class="ion-heart"></i>
          <h4>Creative Elements</h4>
          <p>Wide variety of hosting plans, choose the one that suits you the best</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-box fadeLeft">
          <i class="ion-grid"></i>
          <h4>Lots of features</h4>
          <p>Wide variety of hosting plans, choose the one that suits you the best</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-box fadeLeft">
          <i class="ion-android-laptop"></i>
          <h4>Fully Responsive</h4>
          <p>Wide variety of hosting plans, choose the one that suits you the best</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-box fadeLeft">
          <i class="ion-android-microphone"></i>
          <h4>Premium Support</h4>
          <p>Wide variety of hosting plans, choose the one that suits you the best</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-box fadeLeft">
          <i class="ion-ios-browsers"></i>
          <h4>Browser Comptaible</h4>
          <p>Wide variety of hosting plans, choose the one that suits you the best</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-box fadeLeft">
          <i class="ion-android-bulb"></i>
          <h4>Unique Design</h4>
          <p>Wide variety of hosting plans, choose the one that suits you the best</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-box fadeLeft">
          <i class="ion-android-bicycle"></i>
          <h4>Google Font</h4>
          <p>Wide variety of hosting plans, choose the one that suits you the best</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-box fadeLeft">
          <i class="ion-android-happy"></i>
          <h4>Latest Framework</h4>
          <p>Wide variety of hosting plans, choose the one that suits you the best</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="text-center m-auto feature-info">
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas atque perspiciatis dolorem,
            accusantium sequi laboriosam, asperiores nisi eveniet, recusandae facere nobis quia numquam iusto quos.
            Optio hic dolorum quibusdam dolore.</p>
          <a href="{{ url_for('index') }}#contact-us" class="btn btn-hero">Let's work together <i class="fa fa-angle-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  End Feature Section  -->

<!--    Start Gallery Section    -->
<section id="gallery" class=" work ">
  <div class="container bg-gray">
    <div class="heading  m-auto text-center pt140">
      <h2><span class="f-xbold">Our Gallery</span></h2>
      <hr class="seperator">
      <h4 class="subheading">Excellent Works</h4>
      <p>With a belief that culture drives commerce, we leverage shared values and ideals to inform strategy and design,
        creating experiences that inspire life and inspire action. Our specialty of connecting brand, culture, and
        commerce has earned us a big reputation.</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <ul class="work">
        <li class="filter active" data-filter="all">all</li>
        <li class="filter" data-filter=".webdesign">webdesign</li>
        <li class="filter" data-filter=".development">development</li>
        <li class="filter" data-filter=".photography">photography</li>
      </ul>
    </div>
    <div class="work-inner" id="MixItUp52BB49">
      <div class="row work-posts grid">
        <!-- START SINGLE WORK DESIGN AREA -->
        <div class="col-md-4 col-sm-6 mix webdesign" style="display: inline-block;" data-bound="">
          <div class="item">
            <a href="{{ url_for('static', filename='img/portfolio/1.jpg') }}" class="work-popup">
              <figure class="effect-ruby">
                <img src="{{ url_for('static', filename='img/portfolio/1.jpg') }}" alt="image">
                <figcaption>
                  <h2>development</h2>
                  <p>project one</p>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
        <!-- END SINGLE WORK DESIGN AREA -->
        <!-- START SINGLE WORK DESIGN AREA -->
        <div class="col-md-4 col-sm-6 mix development" style="display: inline-block;" data-bound="">
          <div class="item">
            <a href="{{ url_for('static', filename='img/portfolio/2.jpg') }}" class="work-popup">
              <figure class="effect-ruby">
                <img src="{{ url_for('static', filename='img/portfolio/2.jpg') }}" alt="image">
                <figcaption>
                  <h2>Design</h2>
                  <p>project two</p>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
        <!-- END SINGLE WORK DESIGN AREA -->
        <!-- START SINGLE WORK DESIGN AREA -->
        <div class="col-md-4 col-sm-6 mix photography webdesign" style="display: inline-block;" data-bound="">
          <div class="item">
            <a href="{{ url_for('static', filename='img/portfolio/3.jpg') }}" class="work-popup">
              <figure class="effect-ruby">
                <img src="{{ url_for('static', filename='img/portfolio/3.jpg') }}" alt="image">
                <figcaption>
                  <h2>Branding</h2>
                  <p>project three</p>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
        <!-- END SINGLE WORK DESIGN AREA -->
        <!-- START SINGLE WORK DESIGN AREA -->
        <div class="col-md-4 col-sm-6 mix development" style="display: inline-block;" data-bound="">
          <div class="item">
            <a href="{{ url_for('static', filename='img/portfolio/4.jpg') }}" class="work-popup">
              <figure class="effect-ruby">
                <img src="{{ url_for('static', filename='img/portfolio/4.jpg') }}" alt="image">
                <figcaption>
                  <h2>porttrait</h2>
                  <p>project four</p>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
        <!-- END SINGLE WORK DESIGN AREA -->
        <!-- START SINGLE WORK DESIGN AREA -->
        <div class="col-md-4 col-sm-6 mix development webdesign" style="display: inline-block;" data-bound="">
          <div class="item">
            <a href="{{ url_for('static', filename='img/portfolio/5.jpg') }}" class="work-popup">
              <figure class="effect-ruby">
                <img src="{{ url_for('static', filename='img/portfolio/5.jpg') }}" alt="image">
                <figcaption>
                  <h2>photography</h2>
                  <p>project five</p>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
        <!-- END SINGLE WORK DESIGN AREA -->
        <!-- START SINGLE WORK DESIGN AREA -->
        <div class="col-md-4 col-sm-6 mix photography" style="display: inline-block;" data-bound="">
          <div class="item">
            <a href="{{ url_for('static', filename='img/portfolio/6.jpg') }}" class="work-popup">
              <figure class="effect-ruby">
                <img src="{{ url_for('static', filename='img/portfolio/6.jpg') }}" alt="image">
                <figcaption>
                  <h2>Logo design</h2>
                  <p>project six</p>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
        <!-- END SINGLE WORK DESIGN AREA -->
      </div>
    </div>
  </div>
</section>
<!--    ENd Gallery Section    -->

<!-- Start Testimonials Section -->
<section id="testimonials" class="parallax mt15">
  <div class="overlay dark"></div>
  <div class="container pt100 pb100">
    <div class="heading m-auto white text-center mb30">
      <h2 class="f-xbold">Testimonials</h2>
      <hr class="seperator">
      <h4 class="subheading">Clients Reviews</h4>
    </div>

    <div class="row">
      <div class="col-md-8 m-auto text-center">
        <div class="owl-testimonials">

          <div class="owl-item white">
            <div class="testimonial-quote pb10">
              <h5>Fast and versatile, Former team executed each service that we requested rapidly. Very kind and
                pleasant collective, looking forward to collaborate with them.</h5>
            </div>
            <div class="testimonial-body">
              <h4 class="f-xbold">Lenny Potter</h4>
              <h6 class="mt-5">Manager, Studio Former</h6>
            </div>
          </div>


          <div class="owl-item white">
            <div class="testimonial-quote pb10">
              <h5>Fast and versatile, Former team executed each service that we requested rapidly. Very kind and
                pleasant collective, looking forward to collaborate with them.</h5>
            </div>
            <div class="testimonial-body">
              <h4 class="f-xbold">Terry Thompson</h4>
              <h6 class="mt-5">Art Director</h6>
            </div>
          </div>


          <div class="owl-item white">
            <div class="testimonial-quote pb10">
              <h5>Fast and versatile, Former team executed each service that we requested rapidly. Very kind and
                pleasant collective, looking forward to collaborate with them</h5>
            </div>
            <div class="testimonial-body">
              <h4 class="f-xbold mt10">Sophie Robben</h4>
              <h6 class="mt-5">Designer, Power Ark</h6>
            </div>
          </div>


          <div class="owl-item white">
            <div class="testimonial-quote pb10">
              <h5>Fast and versatile, Former team executed each service that we requested rapidly. Very kind and
                pleasant collective, looking forward to collaborate with them.</h5>
            </div>
            <div class="testimonial-body">
              <h4 class="f-xbold mt10">Lloyde West</h4>
              <h6 class="mt-5">Customer</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Testimonials Section -->


<!-- Start Contact Section -->
<section id="contact-form" class="bg-gray">
  <div class="container pt100 pb100">
    <div class="heading m-auto text-center mb30">
      <h2 class="f-xbold" id="contact-us">Contact Us</h2>
      <hr class="seperator">
      <h4 class="subheading">Lets collaborate</h4>
      <p>With a belief that culture drives commerce, we leverage shared values and ideals to inform strategy and design,
        creating experiences that inspire life and inspire action. Our specialty of connecting brand, culture, and
        commerce has earned us a big reputation.</p>
    </div>


    <div class="col-md-8 col-sm-8 m-auto">
      <!-- Start Contact Section -->
      {% include 'partials/contact.html' %}
      <!-- End Contact Section -->
    </div>
  </div>
</section>
<!-- End Contact Section -->
{% endblock %}