{% extends 'layout.html' %}

{% block content %}
<!-- Start Hero Section -->
{% include 'partials/section-hero.html' %}
<!-- End Hero Section -->

<!-- Start Clients -->
{# {% include 'partials/section-clients.html' %} #}
<!-- End Clients Section -->

<!-- Start Services Section -->
{% include 'partials/section-services.html' %}
<!-- End Services Section -->

<!-- START TEAM Section -->
{# {% include 'partials/section-team.html' %} #}
<!--  END TEAM Section  -->

<!--  Start Feature Section  -->
{% include 'partials/section-feature.html' %}
<!--  End Feature Section  -->

<!--    Start Gallery Section    -->
{# {% include 'partials/section-gallery.html' %} #}
<!--    ENd Gallery Section    -->

<!-- Start Testimonials Section -->
{% include 'partials/section-testimonials.html' %}
<!-- End Testimonials Section -->

<!-- Start Contact Section -->
{% include 'partials/section-contact.html' %}
<!-- End Contact Section -->
{% endblock %}